
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  .cards_items{
    width: 100%;
    height: auto; 
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    border-radius: 10px;
    list-style: none;
  }

  .cards__item__link {
    display: flex;
    flex-flow: column;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    align-items: center;
  }

  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

  .cards__item__info {
    padding: 20px 30px 30px;
  }

  .cards__item__img:hover {
    transform: scale(1.1);
  }

  .cards {
    padding: 1rem;
  
  }
  
  h1 {
    text-align: center;
  }



  @media only screen and (min-width: 820px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media screen and (max-width: 820px) {
    .cards_items {
      display: block;
      margin-bottom: 2rem;
    }
  }
  