.leftmenu .menu_link{
    background: url(../../../images/sidemenu.jpg) no-repeat 0px 1rem;
    padding: 8px 20px;
    display: block;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e4e4e4;
    list-style: none;
    
    color: darkgray;
}
.container{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1rem;
    margin-top: 2rem;
}
.titlebox{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  
    margin-top: 2rem;
   
}

.socilamedia{
    justify-content: space-around;
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    color: blue;
}
.aboutBg {
    background: url(../../../images/aboutbg1.jpg) no-repeat;
    background-size: cover;
    height: auto;
    display: table;
    width: 100%;
}
.sidemenu{
    margin-left: 2rem;
}
@media screen and (max-width: 820px){
    .sidemenu{
        margin-left: 0;
    }
    
}