@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
height: 100vh;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
padding-top: 7rem;
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading{
font-family: 'Pacifico', cursive;
font-size: 35px;
}
.currency-container{
height: 15rem;
width: 45rem;
display: flex;
justify-content: space-around;
align-items: center;
}
.amount{
    padding-left: 1rem;
    font-size: 1.75rem;
    height: 2.5rem;
}
.middle,.right{
width: 120px;
}
.switch{
padding: 5px;
margin-top: 25px;
background-color: rgb(226, 252, 184);
border-radius: 50%;
cursor: pointer;
}
.result{
box-sizing: border-box;
width: 40rem;
padding-left: 30px;
}
.converter-button{
width: 7rem;
height: 2.5rem;
font-weight: bold;
font-size: 20px;
border: 2px solid forestgreen;
background-color: rgb(226, 252, 184);
cursor: pointer;
}
.result p{
font-size: 30px;
}
