.section {
    padding: 1rem 0 0;
}
.sub-txt1 {
    font-size: 1rem;
    padding: 1rem;
   display: flex;
   flex-direction: column;
    justify-self: center;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
    align-items: center;
}
h3 {
    color: #747171;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 0 0;
}

p{
    margin: 1rem 2rem 2rem 2rem;
    font-family: 'Raleway', sans-serif;
}


.list{
    background: url(../../images/aboutbg2.jpg) no-repeat top center fixed;
    text-align: center;
    background-size: cover;
    padding: 2rem;
}
.block-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3rem;
    list-style: none;
    color: white;
}
.abt-sec {
    position: absolute;
    top: 30%;
    z-index: 1;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abt-sec p.hd-title1 {
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 0;
    margin: 0;
}

.abt-sec p.hd-title2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin-bottom: 1rem;
    line-height: 1rem;
}

.abt-sec p.hd-title3 {
    padding-top: 2rem;
    margin: 0;
}

@media screen and (max-width: 820px){
    .block-list{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
