.wrapper {
  width: 100%;
  height: 50%;
  background: lightblue;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(4rem, 1fr));
  grid-gap: 0.5rem;
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}
.container1close {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.5rem;
  width: 5rem;
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
  text-align: center;
  font-family: cursive;
}

a {
  color: inherit;
}