.wrapper .title{
    text-align: start;
}


.g-3{
    padding: 2rem;
    background-color: aliceblue;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.sub-txt{
    display: block;
}
.career-container{
    padding: 5rem;
}

@media screen and (max-width: 820px){
    .g-3 {
        display: block;
    }
 }